$mainGrayColor: #3d455d;
$mainGreenColor: #B4CD93;
$mainRedColor: #A65959;

$pageColor: #FAFAFA;

$lightGrayColor: #F2F2F2; 

$mainBorderRadius: 4px;
$mainTextColor: #4C4C4C;
$disabledTextColor: #929292;

$lightTextColor: #B3B3B3;

$navbarTextColor: #808080;
$navbarTextHoverColor: #999999;
$navbarTextActiveColor: #4C4C4C;
$navbarFontSize: 16px;

$headerSearchInputColor: #FAFAFA;
$headerSearchInputBorderColor: #E6E6E6;
$headerSearchInputFontSize: 16px;
